
<nav class="menu-categorias">
  <ul>
    <li *ngFor="let supercat of Object.keys(supercategoriasMap)"
        class="menu-item"
        (mouseenter)="supercategoriaHover = supercat"
        (mouseleave)="supercategoriaHover = ''">

      <a href="#" (click)="supercategoriaHover = supercat; $event.preventDefault()">
        {{ supercat }}
      </a>

      <ul *ngIf="supercategoriaHover === supercat" class="submenu-categorias">
        <li *ngFor="let cat of Object.keys(supercategoriasMap[supercat])"
            (mouseenter)="categoriaHover = cat"
            (mouseleave)="categoriaHover = ''"
            class="submenu-categoria-item">
          <a href="#" (click)="filtrarPorCategoria(cat); $event.preventDefault()">{{ cat }}<mat-icon class="categoriasicono">navigate_next</mat-icon></a>

          <ul *ngIf="categoriaHover === cat" class="submenu-subcategorias">
            <li>
              <a href="#" (click)="filtrarPorCategoria(cat); $event.preventDefault()">Ver todos</a>
            </li>
            <li *ngFor="let subcat of supercategoriasMap[supercat][cat]">
              <a href="#" (click)="filtrarPorSubcategoria(cat, subcat); $event.preventDefault()">
                {{ subcat }}
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </li>
  </ul>
</nav>








<div class="catalogo">
  <div class="filtros">
    <div class="filtro-item">
      <span class="iconify icono" data-icon="mdi:cash-minus" title="Precio mínimo" aria-hidden="true"></span>
      <input
        type="number"
        [(ngModel)]="precioMin"
        (ngModelChange)="aplicarFiltros()"
        placeholder="Precio mínimo"
        aria-label="Precio mínimo"
        min="0"
      />
    </div>
    <div class="filtro-item">
      <span class="iconify icono" data-icon="mdi:cash-plus" title="Precio máximo" aria-hidden="true"></span>
      <input
        type="number"
        [(ngModel)]="precioMax"
        (ngModelChange)="aplicarFiltros()"
        placeholder="Precio máximo"
        aria-label="Precio máximo"
        min="0"
      />
    </div>


   

  </div>

  <div class="productos-grid">

    <div *ngFor="let producto of productosFiltrados" class="producto-card-wrapper">
        <div class="producto-card" [@fadeInOut]>
        <img [src]="producto.imagen" alt="{{producto.nombre}}" *ngIf="producto.imagen" loading="lazy" />
        <h3>{{producto.nombre}}</h3>
        <p class="precio">${{producto.precio}}</p>
        <button (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
    </div>

    </div>
    
  </div>
</div>

<app-notificacion></app-notificacion>