<title>Dulcemania</title>


<div class="nav" [class.active]="menuOpen">
  <div class="logo">
    <img routerLink="/inicio" routerLinkActive="router-link-active" src="assets/iconos/logohd.png" alt="">
  </div>
  <div class="hamburger" (click)="menuOpen = !menuOpen">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="nav-links">
    <a routerLink="/inicio" routerLinkActive="router-link-active"> 
      <mat-icon class="navicon">home</mat-icon>Inicio 
    </a>
    <a routerLink="/catalogo" routerLinkActive="router-link-active"> 
      <mat-icon class="navicon">shop</mat-icon>Tienda 
    </a>
    <a routerLink="/locales" routerLinkActive="router-link-active"> 
      <mat-icon class="navicon">wifi_calling_3</mat-icon>Contacto 
    </a>
    <div class="car" (click)="toggleCarrito()" style="position: relative;">
      <mat-icon class="navicon">
        {{ mostrarCarrito ? "close" : "shopping_bag"}}</mat-icon>
        <span
        *ngIf="cantidadTotal > 0"
        class="badge"
        >{{ cantidadTotal > 99 ? '+99' : cantidadTotal }}</span>
    </div>
  </div>
</div>

  <div *ngIf="isLoading" class="loading-overlay">
      <ng-lottie [options]="lottieOptions"></ng-lottie>
  </div>


<router-outlet></router-outlet>



<carrito 
  [mostrar]="mostrarCarrito" 
  (cerrar)="cerrarCarrito()">
</carrito>

<footer class="pie">
<div class="grupo1">
            <div class="boxpie">
                <figure>
                    <a href="#">
                        <img src="assets/iconos/logohd.png" alt="pielogo">
                        
                    </a>
                     
                </figure>
            </div>
            <div class="boxpie">
                <h2>Redes Sociales</h2>
                <div class="red-social">
                        <a href="#" class="fab fa-whatsapp" target="_blank"></a>
                        <a href="#" class="fab fa-facebook" target="_blank"></a>
                        <a href="#" class="fab fa-instagram" target="_blank"></a>
                </div>

                <h1><mat-icon>phone</mat-icon>096499822</h1>
                <h2><mat-icon>local_shipping</mat-icon>099841160</h2>   
                <img class="Tarjetas" src="assets/iconos/Metodos_Tarjetas.png" alt="">
            </div>
            <div class="boxpie">
                    <a href="#" class="mides">
                      <img src="assets/iconos/mides.png" alt="">
                    </a>
              </div> 
        </div>
        <div class="grupo2">
            <small>&copy; 2025 <b>Dulcemania</b> - Todos los Derechos Reservados</small>
        </div>
               
</footer>
