

:root {
    
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    background: linear-gradient(to right, #fdcac6,#f0ebea);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
body.no-scroll{
    overflow: hidden;
    position: fixed;
    width: 100%;
}