

<section class="inicio" id="inicio">
<div class="iniciocontent">
    <h3>DULCEMANIA UN <span>UNIVERSO</span> DE DULZURA</h3>
      
    <a routerLink="/catalogo" routerLinkActive="router-link-active"><i class="btn">Compra Ahora</i></a>
</div>
</section>

<div class="servicios">
    <h1 class="headerservicios"> Que podemos <span>ofrecerte</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="assets/iconos/trato2.png" alt="">
            <h3>Acuerdos <span>PARA</span> Mayoristas</h3>
            <p>Reeponemos tu negocio</p>
            <a href="#"><i class="btn">Leer más</i></a>
        </div>
        <div class="box">
            <img src="assets/iconos/mapafeliz2.png" alt="">
            <h3>Envios a <span>TODO</span> el pais</h3>
            <p>de Salto para todo el Uruguay</p>
            <a href="#"><i class="btn">Leer más</i></a>
        </div>
        <div class="box">
            <img src="assets/iconos/atencion.png" alt="">
            <h3>Servicio de atención al<span> CLIENTE</span></h3>
            <p>De Lunes a Sabados</p>
            <a href="#"><i class="btn">Leer más</i></a>
        </div>
    </div>
</div>
<section class="presentaciones" id="presentaciones">
    
    <h1 class="headerservicios">Descubrí los sabores que<span class="corazon">enamoran</span>en cada categoría</h1>

    <div class="catcontainer">
        <div  class="catcard"
                #catcard
                *ngFor="let categoria of categorias; let i = index"
                (mouseenter)="onCardHover(i, true)"
                (mouseleave)="onCardHover(i, false)"
        >
            <div class="cattext">{{ categoria.nombre }}</div>
            <div class="catimg"><img class="catimgproduct" src="{{ categoria.img }}" alt=""></div>
        </div>
        
    </div>
    


    <h1 class="headerservicios">Date el <span>GUSTO</span> con nuestros <span>MEJORES</span> productos</h1>
    
    <div class="swiper presentaciones-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box" *ngFor="let producto of productos.slice(0, 16)">
                <div class="badge-container"
                    >
                            <div class="badge nuevo" *ngIf="producto.nuevo"><mat-icon class="badge-icon">star</mat-icon>NUEVO</div>
                            <div class="badge descuento" *ngIf="producto.descuento"><mat-icon class="badge-icon">local_offer</mat-icon>-{{producto.descuento}}</div>
                </div>
                
                <img class="productoimg" [src]="producto.imagen" alt="">
                <h1>{{ producto.nombre }}</h1>
                <h2><mat-icon class="unidadespresentacion">widgets</mat-icon>Unidades: {{ producto.unidades }}</h2>
                <div class="price"><mat-icon class="dineropresentacion">attach_money</mat-icon>{{ producto.precio }}</div>
                <div class="contenedor-boton-carrito">
                    <a (click)="agregarAlCarrito(producto)" class="btnpresentacion"><mat-icon class="carpresentacion">shopping_cart</mat-icon>
        
                    </a>
                </div>
                <div class="carrito-desplegable">
                    <p>1 producto agregado</p>
                </div>    
            </div>
        
        
        </div>
    </div>
    
        <!-- <div class="swiper presentaciones-slider">
            <div class="swiper-wrapper">
             <div class="swiper-slide box" *ngFor="let producto of productos.slice(8, 16)">
                <div class="badge-container"
                    >
                            <div class="badge nuevo" *ngIf="producto.nuevo"><mat-icon class="badge-icon">star</mat-icon>NUEVO</div>
                            <div class="badge descuento" *ngIf="producto.descuento"><mat-icon class="badge-icon">local_offer</mat-icon>-{{producto.descuento}}</div>
                </div>
                <img [src]="producto.imagen" alt="">
                <h1>{{ producto.nombre }}</h1>
                <h2><mat-icon class="unidadespresentacion">widgets</mat-icon>Unidades: {{ producto.unidades }}</h2>
                <div class="price"><mat-icon class="dineropresentacion">attach_money</mat-icon>{{ producto.precio }}</div>
                <div class="contenedor-boton-carrito">
                    <a (click)="agregarAlCarrito(producto)" class="btn"><mat-icon class="carpresentacion">shopping_cart</mat-icon>
                    Agregar al carrito
                    </a>
                </div>
                <div class="carrito-desplegable">
                    <p>1 producto agregado</p>
                </div>    
            </div>
            </div>
        </div> -->

            <h1 class="headerservicios">Ahorra con las <span>mejores</span> ofertas</h1>
        <div >


        </div>



        
   <router-outlet></router-outlet>
   <app-notificacion></app-notificacion>



    
</section>

