

<section class="inicio" id="inicio">
<div class="iniciocontent">
    <h3>DULCEMANIA UN <span>UNIVERSO</span> DE DULZURA</h3>
      
    <a routerLink="/catalogo" routerLinkActive="router-link-active"><i class="btn">Compra Ahora</i></a>
</div>
</section>

<div class="servicios">
    <h1 class="headerservicios"> Que podemos <span>ofrecerte</span></h1>
    <div class="box-container">
        <div class="boxservicios" (click)="voltearTarjeta($event)">

            <div class="flip-card-inner">
                <div class="flip-card-front">
                <ng-lottie 
                    [options]="optionsTrato" 
                    
                   
                    #lottiePlayer>
                </ng-lottie>
                        <h3>Acuerdos <span>PARA</span> Mayoristas</h3>
                        <p>Reeponemos tu negocio</p>
                        <a href="#"><i class="btn">Leer más</i></a>
                </div>
                <div class="flip-card-back">
                        <h3>Te hacemos precio para tu comercio con tu número de RUT, comunicate con nosotros al número comercial</h3>
                        <p>096302355</p>
                        <!-- <button class="btn-volver" (click)="voltearTarjeta($event)">Volver</button> -->
                </div>
            </div>  
        </div>
        <div class="boxservicios" (click)="voltearTarjeta($event)">

            <div class="flip-card-inner">
                <div class="flip-card-front">
                <ng-lottie 
                    [options]="optionsMapa" 
                    
                    #lottiePlayer>
                </ng-lottie>
                        <h3>Envios a <span>TODO</span> el pais</h3>
                        <p>Llega donde estés</p>
                        <a href="#"><i class="btn">Leer más</i></a>
                </div>
                <div class="flip-card-back">
                        <h3>Realizamos envíos a todo el territorio Uruguayo, por problemas comunicarte al número </h3>
                        <p>096302355</p>
                        <!-- <button class="btn-volver" (click)="voltearTarjeta($event)">Volver</button> -->
                </div>
            </div>  
        </div>
         <div class="boxservicios" (click)="voltearTarjeta($event)">

            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="content-wrapper">
                        <ng-lottie 
                                [options]="optionsAtencion" 
                    
                                    #lottiePlayer>
                        </ng-lottie>
                                    <h3>Atención <span>PARA</span> cada cliente</h3>
                                    <p>Estamos para ayudarte</p>
                                    <div class="btn-wrapper">
                                            <a href="#"><i class="btn">Leer más</i></a>
                                    </div>
                                    
                    </div>
                
                </div>
                <div class="flip-card-back">
                        <h3>Hola</h3>
                        <p>Hola</p>
                        <!-- <button class="btn-volver" (click)="voltearTarjeta($event)">Volver</button> -->
                </div>
            </div>  
        </div>
    </div>
</div>
<section class="presentaciones" id="presentaciones">
    
    <h1 class="headerservicios">Descubrí los sabores que<span class="corazon">enamoran</span>en cada categoría</h1>

    <div class="catcontainer">
        <div  class="catcard"
                #catcard
                *ngFor="let categoria of categorias; let i = index"
                (mouseenter)="onCardHover(i, true)"
                (mouseleave)="onCardHover(i, false)"
        >
            <div class="cattext">{{ categoria.nombre }}
                <div class="cattitulo">{{ categoria.titulo }}</div>
                <div class="catinfo">{{ categoria.info }}</div>
            </div>
            <div class="catimg"><img class="catimgproduct" src="{{ categoria.img }}" alt=""></div>
        </div>
        
    </div>
    


    <h1 class="headerservicios">Date el <span>GUSTO</span> con nuestros <span>MEJORES</span> productos</h1>
    
   <div class="contenedor-presentaciones">

    <div class="swiper presentaciones-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box" *ngFor="let producto of productos.slice(0, 16)">
                <div class="badge-container"
                    >
                            <div class="badge nuevo" *ngIf="producto.nuevo"><mat-icon class="badge-icon">star</mat-icon>NUEVO</div>
                            <div class="badge descuento" *ngIf="producto.descuento"><mat-icon class="badge-icon">local_offer</mat-icon>-{{producto.descuento}}%</div>
                </div>
                
                <img class="productoimg" [src]="producto.imagen" alt="">
                <h1>{{ producto.nombre }}</h1>
                <h2><mat-icon class="unidadespresentacion">widgets</mat-icon>Unidades: {{ producto.unidades }}</h2>
                <div class="price"><mat-icon class="dineropresentacion">attach_money</mat-icon>{{ producto.precio }}</div>
                <div class="contenedor-boton-carrito">
                    <a (click)="agregarAlCarrito(producto)" class="btnpresentacion"><mat-icon class="carpresentacion">shopping_cart</mat-icon>
        
                    </a>
                </div>
                <div class="carrito-desplegable">
                    <p>1 producto agregado</p>
                </div>    
            </div>
        
        
        </div>
    </div>

   </div> 
   
            <h1 class="headerservicios">Ahorra con las <span>mejores</span> ofertas</h1>
        <div >

        </div>



        
   <router-outlet></router-outlet>
   <app-notificacion></app-notificacion>

        <div class="headerofertas">
  <div class="escenario" #escenarioRef [class.iluminado]="true">
    <div class="foco foco-izquierdo"></div>
    <div class="foco foco-derecho"></div>    

    <div class="carrusel">
      <div
        class="producto"
        *ngFor="let prod of productosEscenario; let i = index"    
        [class.activo]="i === productoActual"
      >
        <app-etiquetaoferta 
          *ngIf="prod.descuento" 
          [tipo]="prod.descuento.tipo" 
          [texto]="prod.descuento.texto">
        </app-etiquetaoferta>

        <img [src]="prod.imagen" [alt]="prod.nombre" [title]="prod.nombre" >
        <div class="nombre">{{ prod.nombre }}</div>
        <div class="preciosescenario">
                <div class="precioviejo">{{ prod.precio }}</div>
                <div class="preciodescuento">${{ prod.precio }}</div>
        </div>
        
      </div>        
    </div>
  </div>
</div>

    
</section>

